<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/auth/google">auth with google</a>
        <a href="/auth/twitter">auth with twitter</a>
        <a href="/auth/facebook">auth with facebook</a>
    </div>
    <div>
        <img src="<%= user.image %>">
        <%= user.displayName %>
        <%= user.email %>
    </div>
</body>

</html>