<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <%= user.name %>
        <%= user.image %>
    </div>
</body>

</html>