<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <img src="<%= user.image %>">
        <%= user.displayName %>
        <%= user.email %>
    </div>
    <p>Proceed to <a href="https://artnstylesalon.com/">artnstylesalon.com</a></p>
    <%# <p>Proceed to <a href="http://localhost:5000/">artnstylesalon.com</a></p> %>
</body>

</html>