$lighter-opacity:0.75;
$main-color: #5B7AFF;
$font-family: 'Lato', sans-serif;
$max-content-width: 900px;

.events {
  font-family: $font-family;
  // margin: 0px auto;
  // max-width: $max-content-width;
  text-align: center;

  p {
    opacity: $lighter-opacity;
  }

  .edit-button {
    float: right;
  }

  // .title {
    // color: $main-color;
  // }

  .title hr {
    max-width: 200px;
    color: $main-color;
  }

  add-item {
    margin: auto;
  }

}

.event {
  position: relative;
  margin: 2%;
  
  .event-container{
    width:100%;
    padding-top:5%;
  }

  .image-container {
    padding: 2%;
  }

  .square {
    width: 100%;
    padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* you change this from "cover" to "contain" if you don't want the images to be cropped */
    margin-bottom: 4%;
  }

  .square:hover {
    opacity: 0.8;
  }

  .event-content {
    // border: 1px solid $main-color;
    // border-radius: 5px;
    // background-color: white;
  }

  .name {
    background-color: dimgray;
    color: white;
    padding: 1%;
    font-weight: 600;
    font-size: 20px;
  }

  .timing {
    background-color: black;
    color: white !important;
    padding: 1%;
    padding-bottom: 0px;
  }
  
  .timing md-input-container .md-input {
      color: white;
  }

  .date {
   color: white;
  }

  .time {
    //padding: 0px 1%;
  }

  .description {
    padding: 2%;
    padding-bottom: 1%;
  }

  .link {
    padding: 1%
  }
md-input-container {
    padding-bottom: 0px;
   
  }


   .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
      transform: scale(1.1);
  }

}

// events level definitions continue from above
.events {

  .content-block {
    // padding: 30px ;
    margin-bottom: 0px;
    color: inherit;
    background: #f2efe5;

  }

  .content-block-one {
    // padding: 30px;
    margin-bottom: 0px;
    color: inherit;
    background: #f2efe5;

  }

  .content-block-one p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
  }
  .content-block p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;

  }

  .container .content-block-one {
    border-radius: 6px;
  }
  .content-block-one .container {
    max-width: 100%;
    width: 100%;
  }
  .container .content-block {
    border-radius: 6px;

  }
  .content-block .container {
    max-width: 100%;

  }
  @media screen and (min-width: 768px) {
    .content-block-one {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .container .content-block-one {
      padding-right: 60px;
      padding-left: 60px;
    }
    .content-block {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .container .content-block {
      padding-right: 60px;
      padding-left: 60px;
    }

  }

  .content-space-one-events {
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
    background: url(./images/tulsa.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .content-space-two-events {
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
    background: url(./images/tulsa.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .image-only {
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
    background: url(./images/tulsa.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //width: 100px;
    //height: 100px;
    padding-top: 400px;
    padding-bottom: 400px;

  }

}