<editable-item class="event" editing="{{editing}}" item="info" delete-item-fn="ctrl.deleteItem(info)"
               save-item-fn="ctrl.saveItem(info)" change-pic-fn="ctrl.addPic(info, file)">
    <div class="event-container" layout="row" layout-wrap layout-align="center">
        <div ng-if="info.image" flex="20" flex-sm="50" class="image-container md-whiteframe-z2">
            <div class="square md-whiteframe-z2" ng-style="{'background-image':'url({{info.image}})'}" ></div>
        </div>

        <div class="event-content md-whiteframe-z2" layout="column" flex flex-sm="100">
            <div layout="row" layout-align="center" class="timing">
                <div class="date">
                    <editable-text editing="{{editing}}" item="info" field="date" placeholder="Date" ctrl="ctrl"></editable-text>
                </div>
            </div>

            <div class="name" >
                <editable-text editing="{{editing}}" item="info" field="name" placeholder="Name" ctrl="ctrl"></editable-text>
            </div>

            <div class="description" >
                <editable-text editing="{{editing}}" item="info" field="description" placeholder="Description" ctrl="ctrl" textarea="true"></editable-text>
            </div>

            <div class="link">
                <a ng-if="! info.visibilities.visibility && info.linkToEventSite" ng-href="{{info.linkToEventSite}}">
                    go to event website</a>
                <md-input-container md-no-float="" flex="" ng-if="info.visibilities.visibility">
                    <input type="text" ng-model="info.linkToEventSite" placeholder="url to event website"/>
                </md-input-container>
            </div>

        </div>
    </div>
</editable-item>