body, html {
    width: 100%;
    height: 100%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    background-color:#f2efe5;
}

.content {
    height: 100%;
    background-color: transparent;
    font-family: 'Noticia Text', serif;
}

i {
	float:right;
}
