body, html {
    width: 100%;
    height: 100%;
}

.content {
    height: 100%;
    background-color: transparent;
    font-family: 'Noticia Text', serif;
}

.ng-scope {
    height:100%;
}


md-toolbar, md-toolbar:not(.md-menu-toolbar) {
    color: #6889FB;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    /*margin: 0;*/
    /*padding: 0;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/
}

.md-button {
    font-family: 'Noticia Text', serif;
    font-weight: bold;
    font-size: 16px;
}

md-toolbar i {
    color: #6889FB;
    border: 2px solid #6889FB;
    border-radius: 20%;
}


a {
    margin: 0px 2px;
}

.logo {
    margin: 5px;
    width: 100px;
    height: 100px;
    background: transparent url(./images/logo.png) 0 0 no-repeat;
    background-size: contain;
    display: inline-block;
}

.md-toolbar-tools {
    max-height: initial;
    height: initial;
}