<editable-item class="stylist" editing="{{editing}}" item="info" delete-item-fn="ctrl.deleteItem(info)"
               save-item-fn="ctrl.saveItem(info)" change-pic-fn="ctrl.addPic(info, file)">
    <div class="square" ng-style="{'background-image':'url({{info.image}})'}" ></div>
    <div class="name" >
        <editable-text editing="{{editing}}" item="info" field="name" placeholder="Name" ctrl="ctrl"></editable-text>
    </div>
    <div class="speciality" >
        <editable-text editing="{{editing}}" item="info" field="speciality" placeholder="Speciality" ctrl="ctrl"></editable-text>
    </div>
    <div class="bio" >
        <editable-text editing="{{editing}}" item="info" field="bio" placeholder="Bio" ctrl="ctrl" textarea="true"></editable-text>
    </div>
    <div class="link">
        <a ng-if="! info.visibilities.visibility && info.linkToScheduler" ng-href="{{info.linkToScheduler}}">
            click to shedule appointment</a>
        <md-input-container md-no-float="" flex="" ng-if="info.visibilities.visibility">
            <input type="text" ng-model="info.linkToScheduler" placeholder="url to scheduling"/>
        </md-input-container>
    </div>
</editable-item>

