$lighter-opacity:0.75;
$main-color: #5B7AFF;
$font-familiy: 'Lato', sans-serif;
$max-content-width: 900px;

.stylists {
  font-family: $font-familiy;
  margin: 0px auto;
  max-width: $max-content-width;
  text-align: center;

  p {
    opacity: $lighter-opacity;
  }

  .edit-button {
    float: right;
  }

  .title {

  }

  .title hr {
    max-width: 400px;
    color: $main-color;
        border-top: 1px solid black;
  }

  .intro {


  }
}

.stylist {
  position: relative;
  padding: 4%;
  margin: 2%;


  .square {
    width: 100%;
    padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* you change this from "cover" to "contain" if you don't want the images to be cropped */
    border-radius: 50%;
    margin-bottom: 4%;
    margin-top:10%;
  }

  .square:hover {
    opacity: 0.8;
  }

  .name {
    background-color: #EFEFEF;
    padding: 4%;
    font-weight: 600;
  }

  .speciality {
    font-style: italic;
    margin: 4%;
  }

  .speciality editable-text {
    border-bottom: 1px solid $main-color;
  }

  .bio {
    width: 100%;
    text-align: left;
    opacity: $lighter-opacity;
  }

  .link {
    margin: 4% 0px;
  }

  md-input-container {
    padding-bottom: 0px;
  }
  
  
  
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
}

