<div class="tanning">
    <main-menu></main-menu>
    <div class="content-space-one-tanning col-md-12">
        <div class="text-center">
        </div>
    </div>
    <img class="col-md-6 info" src="images/versa6.png" />
    <img class="col-md-6" src="images/versa1.png" />


    <div class="content-space-one-tanning col-md-12">
        <div class="text-center">
        </div>
    </div>
    <div class="content-block text-center ">
        <h2 class="header0605">No Contract Tanning Packages*</h2>
        <br>

        <p>Single Tan, $30, quick and easy way to get a great tan!</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addItemToCart('Single Tan', 30)">Add to cart</md-button>

        <p>3 tans, $65 shareable with 1-2 friends!</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addItemToCart('3 Tans', 65)">Add to cart</md-button>

        <p>4 tans $80, shareable with 1-3 friends!</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addItemToCart('4 Tans', 80)">Add to cart</md-button>
    </div>


    <div class="content-space-one-tanning col-md-12">
        <div class="text-center">
        </div>
    </div>
    <div class="content-block text-center ">

        <h2 class="header0605">Monthly Tanning Packages*</h2>
        <br>

        <p>Minimalist $20 per month</p>
        <p>1 tan per month (Bronzer only)</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addSubscriptionToCart('Minimalist', 'Minimalist, 1 tan per month', 18)">Add to cart</md-button>

        <p>Starry Night $50 per month</p>
        <p>Unlimited Tanning</p>
        <p>Be the star of every night with the</p>
        <p>Starry Night package (PH-N-Bronzer)</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addSubscriptionToCart('Starry Night', 'Starry Night, Unlimited Tanning', 50)">Add to cart</md-button>

        <p>Mona Lisa $60 per month</p>
        <p> Unlimited Tanning</p>
        <p>The Mona Lisa of all Packages.</p>
        <p>Balance, Bronze-N-Moisturize to create a work of Perfection!</p>
        <p> Smooth fine lines, reduce cellulite and tighten skin</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addSubscriptionToCart('Mona Lisa', 'Mona Lisa, Unlimited Tanning', 60)">Add to cart</md-button>
    </div>


    <div class="content-space-one-tanning col-md-12">
        <div class="text-center">
        </div>
    </div>

    <div class="content-block text-center ">

        <h2 class="header0605">Monthly Moisturizing Treatment
            Packages*(Collagen Rejuvinating)</h2>
        <br>

        <p> Melt away those fine lines</p>
        <p> minimize cellulite and tighten for a copacetic blend of supple skin.</p>

        <p> Dali #1: $20 per month</p>
        <p> Unlimited Facial Treatments</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addSubscriptionToCart('Dali#1', 'Dali #1:, Unlimited Facial Treatments', 20)">Add to cart</md-button>

        <p>Dali #2: $30 per month</p>
        <p>Unlimited Full Body Treatments</p>
        <md-button ng-if="tanning.cartSupported" ng-disabled="tanning.status.orderSubmitted" class="md-raised"
                   ng-click="tanning.addSubscriptionToCart('Dali #2', 'Dali #2:, Unlimited Full Body Treatments', 30)">Add to cart</md-button>

        <p>*Monthly Packages consist of a minimum 3 month contract.</p>
        <p>*$50 dollar opt out during the first 3 months</p>
        <p>*No contract packages must be used within 90 days of purchase.</p>
    </div>
</div>