.container0605 {
    background-color: #6D614D;
}

h1 {
  color: red;
}

.container0605 {
	text-align: center;
}

.img-left0605 {
        float: left;
        margin-right: 25px;
    }

.button0605{
	background-color: #85755D;
	float: right;
}