.container0605{
    background-color: #292118;
    color: #DFD6CD;
    text-align: center;
}

h1 {
  color: red;
}

.img-left0605 {
        float: left;
        margin-right: 25px;
    }

.button0605{
	background-color: #F0E6DC;
	float: right;
}