$menu-text-color: white;

.tanning {
    text-align: center;
    background-color: #292118;
    color: #DFD6CD;

    md-toolbar, md-toolbar:not(.md-menu-toolbar) {
        color: $menu-text-color;
    }

    md-toolbar i {
        color: $menu-text-color;
        border: 2px solid $menu-text-color;
    }


    img{
	width: 100%;
}

.button0605{
	float: right;
	color: black;
}
hr {	width: 50%;
}
}

.angular-google-map-container { height: 400px; }




