.editable-item {
  .small-delete-button {
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 5;
  }

  .small-add-pic-button {
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 5;
  }

}