$accent-color: #FF3B80;

.editable-item {
  .small-delete-button {
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 5;
  }

  .order-box {
    position: absolute;
    top: 4%;
    left: 30%;
    z-index: 5;
    max-width: 60px;
    color: $accent-color;
    font-weight: bold;
  }

  .small-add-pic-button {
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 5;
  }


}