$menu-text-color: white;
$font-family:  "Raleway", Helvetica, Arial, sans-serif;

.home{
     font-family:$font-family;
     
    md-toolbar, md-toolbar:not(.md-menu-toolbar) {
        color: $menu-text-color;
       
    }

    md-toolbar i {
        color: $menu-text-color;
        border: 2px solid $menu-text-color;
    }

    main-menu{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 5;
        width: 100%;
    }
.ANS1{
    color:white;
}

}
