h1 {
  color: blue;
}

.bg{
  background-color:green;
  width: 100%;
  height: 100%;
  background-image: url(http://45.55.16.198:3039/api/pocketScrum/thumbnail?id=55f4b9e8516b4266230081c4) ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

