<div class="orders">
    <main-menu></main-menu>

    <h2 class="title">ORDERS
        <hr>
    </h2>

    <div class="toolbar" layout="row" layout-align="start center">
        <md-input-container flex="33">
            <label>Search</label>
            <input ng-model="search">
        </md-input-container>
        <h3 flex="66">
        Total orders: {{orders.total}} of which Items: {{orders.itemsTotal}} & Subscriptions: {{orders.subscriptionsTotal}}
        </h3>
    </div>

    <table>
        <thead>
            <tr>
                <td class="when">When</td>
                <td class="name">Customer Id</td>
                <td class="name">Customer Email</td>
                <td class="name">Name/ Subs Id</td>
                <td>Type</td>
                <td>Price</td>
                <td>Delivered</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="item in orders.items | filter: search | reverse">
                <td class="when">{{item.time | date:'MMM-dd-yyyy H:mm'}}</td>
                <td class="name">{{item.customerId}}</td>
                <td class="name">{{item.customer}}</td>
                <td class="name">{{item.planId || item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.price | currency }}</td>
                <td><md-checkbox ng-model="item.delivered" ng-change="orders.saveItem(item)"
                                 aria-label="Delivered"></md-checkbox></td>
                <td>
                    <md-button class="md-icon-button" ng-click="orders.deleteItem(item)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
