<div layout="row" layout-fill layout-padding layout-wrap>
    <div ng-repeat="ticket in tickets | orderBy:['solved','-created']">
        <md-card flex>
            <md-card-content>
                <md-subheader>{{ ticket.name }}</md-subheader>
                <md-list class="quizcard">
                    <md-list-item>
                        <h4 class="md-list-item-text">{{ ticket.email }}</h4>
                    </md-list-item>
                    <md-list-item>
                        <h4 class="md-list-item-text">{{ ticket.phone }}</h4>
                    </md-list-item>
                    <md-list-item>
                        <h4 class="md-list-item-text">{{ ticket.message }}</h4>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-footer layout="row" layout-align="space-between center">
                <div class="md-actions" layout="row" layout-align="start center">
                    <md-button class="md-raised md-warn" ng-click="removeTicket(ticket)">Delete</md-button>
                </div>
                <md-checkbox ng-model="ticket.solved" ng-click="editTicket(ticket)" aria-label="ticket">Solved</md-checkbox>
            </md-card-footer>
        </md-card>
    </div>
</div>
<!--Custom Css-->
<link href="features/home/full-slider.css" rel="stylesheet">
<!-- Full Page Image Background Carousel Header -->


<div class="home">
    <main-menu></main-menu>
    <div id="myCarousel" class="carousel slide">

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('build/hairart.jpg');"></div>
                <div class="carousel-caption">
                    <h1 class="ANS1 animated bounce">Art-N-Style</h1>
                    <p>1334 E 41st St</p>
                    <p>Tulsa, OK 74105</p>
                    <div layout="row" layout-sm="column">
                        <div flex>
                            <md-card>
                                <md-card-content>
                                    <md-input-container>
                                        <label>Name</label>
                                        <input ng-model="name">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Email</label>
                                        <input ng-model="email">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Phone Number</label>
                                        <input ng-model="phone">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Message</label>
                                        <input ng-model="message">
                                    </md-input-container>
                                </md-card-content>
                                <md-card-footer layout="row" layout-align="space-between center">
                                    <md-button ng-disabled="formInvalid()" ng-click="populateTicketObject(); addTicket()" class="md-raised md-primary" ng-click="">Submit</md-button>
                                </md-card-footer>
                            </md-card>
                        </div>

                        <div flex>
                            <md-card>
                                <md-card-content>
                                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                        </ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 9000 //changes the speed
    });

</script>