<div class="contact">
<main-menu></main-menu>
 
<div layout="column" layout-align="space-between center ">
 <div class="contact1">
<h2>1318 E 41st St</h2>
<h2>Tulsa, OK 74105</h2>
<h2> <a href="tel:19187421550" style="color: white;" >(918) 742-1550</a></h2>

<ul>
<il><a href="https://twitter.com/22Artnstyle"><i class="fa fa-twitter"></i></a></il>
  <il><a href="https://www.facebook.com/Art-n-Style-Salon-Gallery-132734710071099/timeline/?ref=br_tf"><i class="fa fa-facebook fb"></i></a></il></ul>
</div>
</div>

<div ng-if="userAuthenticated" layout="row" layout-fill layout-padding layout-wrap>
    <div ng-repeat="ticket in tickets | orderBy:['solved','-created']">
        <md-card flex>
            <md-card-content>
                <md-subheader>{{ ticket.name }}</md-subheader>
                <md-list class="quizcard">
                    <md-list-item>
                        <h4 class="md-list-item-text">{{ ticket.email }}</h4>
                    </md-list-item>
                    <md-list-item>
                        <h4 class="md-list-item-text">{{ ticket.phone }}</h4>
                    </md-list-item>
                    <md-list-item>
                        <h4 class="md-list-item-text">{{ ticket.message }}</h4>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-footer layout="row" layout-align="space-between center">
                <div class="md-actions" layout="row" layout-align="start center">
                    <md-button class="md-raised md-warn" ng-click="removeTicket(ticket)">Delete</md-button>
                </div>
                <md-checkbox ng-model="ticket.solved" ng-click="editTicket(ticket)" aria-label="ticket">Solved</md-checkbox>
            </md-card-footer>
        </md-card>
    </div>
</div>



<div layout="row" layout-sm="column">
    <div flex>
        <md-card>
            <md-card-content>
                 <h2 class="md-title">Questions or Comments</h2>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="name">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="email">
                </md-input-container>
                <md-input-container>
                    <label>Phone Number</label>
                    <input ng-model="phone">
                </md-input-container>
                <md-input-container>
                    <label>Message</label>
                    <input ng-model="message">
                </md-input-container>
            </md-card-content>
            <md-card-footer layout="row" layout-align="space-between center">
                <md-button     style="background-color:#5B7AFF;" ng-disabled="formInvalid()" ng-click="populateTicketObject(); addTicket()" class="md-raised md-primary" ng-click=""  >Submit</md-button>
            </md-card-footer>
        </md-card>
    </div>

    <div flex>
        <md-card>
            <md-card-content>
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </md-card-content>
        </md-card>
    </div>
</div>

<div layout="row" layout-align="space-around center" class="bottom">
<div class="login">
<a href="/auth/facebook"><img src="images/login.png" alt="Login"></a></div>
<div class="logout">
<a href="/logout"><img src="images/logs.png" alt="Logout"></a>
</div>
</div>
 <!--</div>-->