.content {
    height: 100%;
    background-color: white;
    font-family: 'Noticia Text', serif;
}

md-toolbar, md-toolbar:not(.md-menu-toolbar) {
    color: #6889FB;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
}

.md-button {
    font-family: 'Noticia Text', serif;
    font-weight: bold;
    font-size: 16px;
}

md-toolbar i {
    color: #6889FB;
    border: 2px solid #6889FB;
    border-radius: 20%;
}


a {
    margin: 0px 2px;
}

.logo {
    margin: 5px;
    width: 100px;
    height: 100px;
    background: transparent url(./images/logo.jpg) 0 0 no-repeat;
    background-size: contain;
    display: inline-block;
}

.md-toolbar-tools {
    max-height: initial;
    height: initial;
}

